.marginRight {
  margin-right: 20pt;
  background-color: rgb(5, 5, 88);
  color: white;
}
.marginLeft {
  margin-left: 20pt;
  background-color: rgb(5, 5, 88);
  color: white;
}
.marginTop {
  margin-left: 10pt;
  margin-right: 10pt;
  margin-top: 15pt;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.p {
  margin-right: 5pt;
  margin-left: 5pt;
}
